.popup__close-button {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: transparent;
    background-image: url("../../../images/close_icon.svg");
    background-repeat: no-repeat;
    border: none;
    top: -40px;
    left: 110%;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .popup__close-button {
        width: 26px;
        height: 26px;
    }
}