.footer__text {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 68px 0 60px;
}

@media screen and (max-width: 580px) {
    .footer__text {
        margin: 0 0 36px 19px;
        font-size: 14px;
        line-height: 17px;
    }
}