.cards {
    width: 880px;
    margin: 0 auto 68px;
}

@media screen and (min-width: 580px) and (max-width: 879.5px) {
    .cards {
        width: min-content;
    }
}

@media screen and (max-width: 579.5px) {
    .cards {
        width: 282px;
        margin: 0 auto 50px;
    }
}